/* layout */

.f-w {
  width: 100%;
}

.f-h {
  height: 100%;
}

/* block */

.box {
  display: block;
}

/* flex */

.col, .row {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  align-items: center;
}

.between {
  justify-content: space-between;
}

.g-10 {
  gap: 1em;
}
